<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689697001375-rbrseianh05ddbf05qlbmratmpedfk5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689697001375-rbrseianh05ddbf05qlbmratmpedfk5f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>689697001375-mnm2v23hajim6e06i74kj24bgcfsqdjm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDD_KCjUim6WaTr4sCRAQIYvUN1e8JA7TY</string>
	<key>GCM_SENDER_ID</key>
	<string>689697001375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.oman.trippoint</string>
	<key>PROJECT_ID</key>
	<string>main-3c1f5</string>
	<key>STORAGE_BUCKET</key>
	<string>main-3c1f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689697001375:ios:97db826b37ca2ec3e0b7aa</string>
</dict>
</plist>